# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [1]:
import os
import numpy as np
import pandas as pd

In [ ]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [7]:
## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

SyntaxError: ignored

In [10]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(176680, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [2]:
"""
Your Code Here
"""
app_train = pd.read_csv('application_train.csv')
app_train.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

In [3]:
app_train.dtypes.value_counts()

float64    100
object      16
int64        6
dtype: int64

In [5]:
app_train.select_dtypes(include=['object']).apply(pd.Series.unique, axis=0)

NAME_CONTRACT_TYPE                                [Cash loans, Revolving loans]
CODE_GENDER                                                         [M, F, XNA]
FLAG_OWN_CAR                                                             [N, Y]
FLAG_OWN_REALTY                                                          [Y, N]
NAME_TYPE_SUITE               [Unaccompanied, Family, Spouse, partner, Child...
NAME_INCOME_TYPE              [Working, State servant, Commercial associate,...
NAME_EDUCATION_TYPE           [Secondary / secondary special, Higher educati...
NAME_FAMILY_STATUS            [Single / not married, Married, Civil marriage...
NAME_HOUSING_TYPE             [House / apartment, Rented apartment, With par...
OCCUPATION_TYPE               [Laborers, Core staff, Accountants, Managers, ...
WEEKDAY_APPR_PROCESS_START    [WEDNESDAY, MONDAY, THURSDAY, SUNDAY, SATURDAY...
ORGANIZATION_TYPE             [Business Entity Type 3, School, Government, R...
FONDKAPREMONT_MODE            [reg oper account, nan, org spec account, reg ...
HOUSETYPE_MODE                [block of flats, nan, terraced house, specific...
WALLSMATERIAL_MODE            [Stone, brick, Block, nan, Panel, Mixed, Woode...
EMERGENCYSTATE_MODE                                              [No, nan, Yes]
dtype: object

In [11]:
sub_train_onehot = pd.get_dummies(sub_train)

In [20]:
print("sub_train's row number: %d, sub_train's column number: %d" %(sub_train.shape[0],sub_train.shape[1]))
print("sub_train_onehot's row number: %d, sub_train_onehot's column number: %d" %(sub_train_onehot.shape[0],sub_train_onehot.shape[1]))

sub_train's row number: 176680, sub_train's column number: 1
sub_train_onehot's row number: 176680, sub_train_onehot's column number: 7

In [22]:
sub_train.select_dtypes(include=['object']).apply(pd.Series.unique, axis=0)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                   THURSDAY
3                     SUNDAY
4                   SATURDAY
5                     FRIDAY
6                    TUESDAY
7                        NaN

In [31]:
sub_train_onehot.select_dtypes(include=['uint8']).apply(pd.Series.unique, axis=0)

   WEEKDAY_APPR_PROCESS_START_FRIDAY  ...  WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0                                  0  ...                                     1
1                                  1  ...                                     0

[2 rows x 7 columns]

In [27]:
sub_train_onehot.columns

Index(['WEEKDAY_APPR_PROCESS_START_FRIDAY',
       'WEEKDAY_APPR_PROCESS_START_MONDAY',
       'WEEKDAY_APPR_PROCESS_START_SATURDAY',
       'WEEKDAY_APPR_PROCESS_START_SUNDAY',
       'WEEKDAY_APPR_PROCESS_START_THURSDAY',
       'WEEKDAY_APPR_PROCESS_START_TUESDAY',
       'WEEKDAY_APPR_PROCESS_START_WEDNESDAY'],
      dtype='object')

In [29]:
sub_train_onehot.head()

   WEEKDAY_APPR_PROCESS_START_FRIDAY  ...  WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0                                  0  ...                                     1
1                                  0  ...                                     0
2                                  0  ...                                     0
3                                  0  ...                                     1
4                                  0  ...                                     0

[5 rows x 7 columns]

In [30]:
sub_train_onehot.dtypes

WEEKDAY_APPR_PROCESS_START_FRIDAY       uint8
WEEKDAY_APPR_PROCESS_START_MONDAY       uint8
WEEKDAY_APPR_PROCESS_START_SATURDAY     uint8
WEEKDAY_APPR_PROCESS_START_SUNDAY       uint8
WEEKDAY_APPR_PROCESS_START_THURSDAY     uint8
WEEKDAY_APPR_PROCESS_START_TUESDAY      uint8
WEEKDAY_APPR_PROCESS_START_WEDNESDAY    uint8
dtype: object